<div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <h2>Your Order Has Been Successfully Placed</h2>
    <p class="lead"><strong>Please check your email</strong> for further instructions.</p>
    <hr>
    <a asp-controller="Product" asp-action="List" class="btn btn-success">Continue Shopping </a>
</div>