<div class="jumbotron text-xs-center">
    <h1 class="display-3">Sorry!!!</h1>
    <h2>Your cart is empty!!</h2>
    <p class="lead"><strong>Please add some product first</strong>
    <hr>
    <a asp-controller="Product" asp-action="List" class="btn btn-success">Shop Now </a>
</div>