/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.basket {
    font-weight: bold;
    font-size: .8em;
    float: right;
    padding: 20px;
    background: none;
    border: 1px solid #2dbb9b;
    color: #2dbb9b;
    letter-spacing: normal;
    position: relative;
}

    .basket:hover {
        background: #2dbb9b
    }

    .basket span {
        margin-right: 5px;
        margin-left: -20px;
        padding: 20px;
        text-transform: uppercase;
    }

    .basket table {
        position: absolute;
        margin-top: 20px;
        right: -1px;
        display: none;
        border: 1px solid #2dbb9b;
        background: #fff;
        color: #808080;
        z-index: 3;
        letter-spacing: normal;
        text-transform: none;
    }

    .basket:hover table {
        display: table
    }

    .basket table tr {
        transition: .3s;
        -webkit-transition: .3s;
        padding: 20px
    }

        .basket table tr:hover {
            opacity: .5
        }

        .basket table tr:last-child:hover {
            opacity: 1
        }

        .basket table tr:last-child a {
            padding: 10px 20px;
            float: right;
            color: #2dbb9b;
            opacity: .7;
            transition: .3s;
            font-weight: bold;
            letter-spacing: normal;
            -webkit-transition: .3s;
        }

            .basket table tr:last-child a:hover {
                opacity: 1;
                background: #2dbb9b;
                color: #fff
            }

    .basket table td {
        padding: 10px 20px;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
