
<body class="animsition">

    <!-- Header -->

    <!-- Title Page -->
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(@Url.Content("~/images/ProductImages/aboutus.jpg"));">
        <h2 class="l-text2 t-center">
            About
        </h2>
    </section>

    <!-- content page -->
    <section class="bgwhite p-t-66 p-b-38">
        <div class="container">
            <div class="row">
                <div class="col-md-4 p-b-30">
                    <div class="hov-img-zoom">
                        <img src="~/images/ProductImages/onlineshopping.jpg" style="width:300px;height:300px;" salt="IMG-ABOUT">
                    </div>
                </div>

                <div class="col-md-8 p-b-30">
                    <h3 class="m-text26 p-t-15 p-b-16">
                        Our story
                    </h3>

                    <p class="p-b-28">
                        Sam and Frodo leave Bilbo’s house, and in very little time they have ventured further from the Shire than ever before. Merry and Pippin, two mischievous hobbits who are fleeing a farmer from whom they’ve stolen, encounter Sam and Bilbo and join their party. The ringwraiths ride by, and the hobbits narrowly escape detection. Frodo is tempted to put on the ring, but Sam stops him. This urge is Frodo’s first insight into the power and temptation of the ring.
                    </p>

                    <div class="bo13 p-l-29 m-l-9 p-b-10">
                        <p class="p-b-11">
                            Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                        </p>

                        <span class="s-text7">
                            - Jay Shree Ram
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

 </body>




