<div class="col-md-6 p-b-30">
    <div class="m-text26 p-b-36 p-t-15">
        <h2 class="text-center">You were successfully registered. :)</h2>
        <p class="text-center"> <b>You are ready to log in.</b> </p>
    </div>
</div>