@model EcommerceSite.Data.Model.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";

}

<div class="form">
    <form asp-controller="Category" asp-action="Edit" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Edit Category</h3>
        <div>
            @Html.HiddenFor(m => m.CategoryId);
        </div>
        <div class="form-group">
            <label asp-for="CategoryName" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="CategoryName" class="form-control" placeholder="Enter category name" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <button class="btn btn-default" type="submit">@Html.ActionLink("Return", "Index")</button>
                <input class="btn btn-success" type="submit" value="Save" />
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
